<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Perfil do Cliente</title>
    </head>

    <body>
        <h1>Perfil do Cliete</h1>
        <p><strong>Nome:</strong> {{ cliente.user.username }} </p>
        <p><strong>Email:</strong> {{ cliente.user.email }} </p>
        <p><strong>Idade:</strong> {{ cliente.idade }} </p>
        <p><strong>Endereço:</strong> {{ cliente.endereco }} </p>
        <p><strong>Telefone:</strong> {{ cliente.telefone }} </p>
    </body>
</html>