{% extends 'base.html' %}

{% block title %}Aplicativo de Exposição e Venda{% endblock %}

{% block header %}
    <h1>Olá!</h1>
    <p>Bem-vindo ao site de Exposição e Venda!</p>
{% endblock %}

{% block content %}
    <div>
        <a href="/">PRINCIPAL</a> | 
        <a href="/cliente">CLIENTE</a> | 
    <!--
        <a href="/fornecedor">FORNECEDOR</a> | 
        <a href="/produtos">PRODUTOS</a> |
        <a href="/compras">COMPRAS</a> |
        <a href="/itens_compra">ITENS-COMPRA</a> |
        <a href="/pagamento">PAGAMENTO</a> |
        <a href="/auth/login">LOGIN</a> |
        <a href="/auth/cadastro">CADASTRA-SE</a>
    -->
    </div>
{% endblock %}