<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pagamento - Lista</title>
    </head>

    <body>
        <h1>Pagamentos</h1>
        <a href="{% url 'novo_pagamento' %}">Registrar Novo Pagamento</a>
        <ul>
            {% for pagamento in pagamentos %}
                <li>
                    Compra #{{ pagamento.compra.id }} - Método: {{ pagamento.metodo }} - 
                    Data: {{ pagamento.data_pagamento }} - Status: {{ pagamento.status }}
                    <a href="{% url 'editar_pagamento' pagamento.id %}">Editar</a>
                    <a href="{% url 'excluir_pagamento' pagamento.id %}">Excluir</a>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>